body {
    background-color: #f2f2f2;
    font-family: 'EB Garamond', serif;
}

h1 {
    padding: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

h5 {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

a {
    color: black; 
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.subtitle {
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

.card-img-top{
    /* width:48px; */
    width: 100%;
    height: 8rem;
    object-fit: cover;
}