body {
    background-color: #f2f2f2;
    background-image: url("background.jpg");
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    /* padding-bottom: 20px; */
    /* font-size: 18px; */
}

area {
    cursor:pointer; 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
